services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: front_app
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: back_app
    ports:
      - "${APP_PORT}:${APP_PORT}"
    depends_on:
      - postgres
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - ./backend:/app
      - /app/__pycache__

  postgres:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: