services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: back_app
    ports:
      - "8000:8000"
    depends_on:
      - postgres_db
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:mypassword@postgres_db:5432/demetra_db
    volumes:
      - .:/app
      - /app/__pycache__

  postgres_db:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=demetra_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
